In [2]:
import pandas as pd
df = pd.DataFrame()

In [9]:
df['STATS'] = [10, 8, 9]
df['PROG'] = [9, 8, 9]

In [11]:
df['GPA'] = (df['STATS'] + df['PROG']) / 2

In [14]:
# dtype -> data type
type(df['GPA']) # Series -> колонка или ряд

pandas.core.series.Series

In [17]:
df['GPA']

0    9.5
1    8.0
2    9.0
Name: GPA, dtype: float64

In [19]:
df['GPA'].values

array([9.5, 8. , 9. ])

In [21]:
df.shape # количество рядов / количество колоно

(3, 3)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   STATS   3 non-null      int64
 1   PROG    3 non-null      int64
 2   GPA     3 non-null      float64
dtypes: float64(1), int64(2)
memory usage: 200.0 bytes

In [30]:
df.columns = ['STATS', 'PROG', 'GPA']

In [31]:
df

   STATS  PROG  GPA
0     10     9  9.5
1      8     8  8.0
2      9     9  9.0

In [27]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [33]:
df['PROG'][1]

8

In [36]:
list(df.iloc) #index location

[STATS    10.0
 PROG      9.0
 GPA       9.5
 Name: 0, dtype: float64,
 STATS    8.0
 PROG     8.0
 GPA      8.0
 Name: 1, dtype: float64,
 STATS    9.0
 PROG     9.0
 GPA      9.0
 Name: 2, dtype: float64]

In [40]:
df['PROG'][0]

9

In [39]:
df.iloc[0]['PROG'] # про индексы

9.0

In [44]:
df.loc[0]['PROG'] # про лейблы

9.0

In [56]:
df.index = ['Alice', 'Mark', 'Pasha']
df

       STATS  PROG  GPA
Alice     10     9  9.5
Mark       8     8  8.0
Pasha      9     9  9.0

In [57]:
df.iloc[0]['PROG']

9.0

In [59]:
df.loc['Alice']['PROG']

9.0

In [62]:
df.iloc[0,:2]

STATS    10.0
PROG      9.0
Name: Alice, dtype: float64

In [67]:
bikes = pd.read_csv('https://raw.githubusercontent.com/rogovich/Data/master/data/BikeData.csv')
bikes.shape

(8760, 12)

In [69]:
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38

In [70]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             8760 non-null   object
 1   Hour             8760 non-null   int64
 2   Temperature      8581 non-null   float64
 3   Humidity         8760 non-null   int64
 4   Wind speed       8760 non-null   float64
 5   Rainfall         8760 non-null   float64
 6   Snowfall         8760 non-null   float64
 7   Seasons          8760 non-null   object
 8   Holiday          8760 non-null   object
 9   Functioning Day  8760 non-null   object
 10  Partner 1        8760 non-null   int64
 11  Partner 2        8760 non-null   int64
dtypes: float64(4), int64(4), object(4)
memory usage: 821.4+ KB

In [72]:
bikes['Hour'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [73]:
bikes['Seasons'].unique()

array(['Winter', 'Spring', 'Summer', 'Autumn'], dtype=object)

In [78]:
bikes[['Partner 2', 'Partner 1']] # ('Partner 1', 'Partner 2')

      Partner 2  Partner 1
0            50        207
1            80        139
2           140         22
3           105         43
4            38         59
...         ...        ...
8755        177        467
8756         63        296
8757        665        571
8758        457        171
8759        401        442

[8760 rows x 2 columns]

In [83]:
(bikes['Holiday'] == 'Holiday').sum() / 24

18.0

In [91]:
bikes[(bikes['Holiday'] == 'Holiday') 
      & (bikes['Seasons'] == 'Winter')
      & (bikes['Temperature'] < 0)].shape

(103, 12)

In [95]:
bikes[~bikes['Temperature'].isna()].shape

(8581, 12)

In [103]:
bikes[bikes['Seasons'].isin(['Winter', 'Summer'])]['Partner 1'].mode()

0    2
dtype: int64

In [104]:
bikes['Rental Count'] = bikes['Partner 1'] + bikes['Partner 2']

In [106]:
del bikes['Partner 1'] #delete

In [111]:
bikes = bikes.drop('Partner 2', axis=1)

In [112]:
bikes['111'] = bikes['Rental Count']

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count,111
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,257,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,219,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,162,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,148,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,644,644
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,359,359
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,1236,1236
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,628,628
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,843,843

In [113]:
bikes.drop('111', axis=1, inplace=True)

In [114]:
bikes

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,97
...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,644
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,359
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,1236
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,628
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,843

In [117]:
bikes['Holiday'] = bikes['Holiday'] == 'Holiday'

In [121]:
bikes['Functioning Day'] = bikes['Functioning Day'].apply(lambda x: 1 if x == 'Yes' else 0)

In [124]:
def get_temp_cat(temp):
    if temp < 0:
        return 'Freezing'
    elif temp < 15:
        return 'Chilly'
    elif temp < 26:
        return 'Nice'
    elif temp >= 26:
        return 'Hot'
    else:
        return temp
    
bikes['Temp_Cat'] = bikes['Temperature'].apply(get_temp_cat)

In [125]:
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count,Temp_Cat
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,False,1,257,Freezing
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,False,1,219,Freezing
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,False,1,162,Freezing
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,False,1,148,Freezing
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,False,1,97,Freezing

In [131]:
import numpy as np

bikes['a'] = np.where((bikes['Holiday'] == True) & (bikes['Seasons'] == 'Winter'), 1, 0)
bikes['a'].sum()

192