# Practice â„–2

## Some information about the dataframe

This is Ramen Ratings dataset retrieved from [theramenrater.com](https://www.theramenrater.com/)

Each row has 7 columns:

**Index**: The number of ID of the ramen

**URL**: The URL to the review for each ramen

**Brand**: The brand of the ramen manufacturer

**Variety**: The specific name of the ramen

**Style**: Packaging of the ramen

**Country**: Country of origin

**Stars**: The rating of the ramen, as provided by theramenrater.

### Loading the dataset

1. Import pandas with shortened name. *0.5 point*

2. Please upload the ramen.csv dataset and save it into a new variable using `pd.read_csv`. *0.5 point*

### 2. Exploring the dataset

3. Display the `head` of the dataset. *0.5 point*

4. Display the list with the names of columns. *0.5 point*

5. Display the `info` about the columns in the ramen dataset. *1 point*

Are there any missing values in the `Stars` column? Answer YES or NO.

6. How many rows and columns are in the table? Get the number by calling a DataFrame attribute. *1 point*

7. How many unique brands of ramen are there in the dataset? *1 point*

8. Select ```Brand```, ```Variety``` and ```Stars``` columns from the dataset and display them. *1 point*

9. Find the row stored under index 1399 in the dataset and display it. *1 point*

Would you like to try it one day? ;)

### 3. Filtering the dataset

We all like a good cup of noodles. So now we are going to search for the best one out there.

10. Filter the data according to the column ```Stars```. We want our ramen to have more than 4 stars. *1 point*

It is well known that the best ramen is produced in South Korea, Japan or China.

11. Please filter the ramen that is origined from South Korea ```or``` Japan ```or``` China *1 point*

Now let's combine our findings and find the best brands of ramen in the market.

12. Combine two filters that you have just set up in the tasks 10-11 using ```&```. *1 point*

### Bonus tasks

13. Display the number of existing ramen brands: 
- from Malaysia
- with the rating of *at least 4.5* stars
- with style of pack

*1 point*

14. Change the name of the column ```Stars``` to the name ```Score```. 
*Find some information about pandas methods for doing so in the [documentation](https://pandas.pydata.org/docs/index.html) (use search the docs in the left)*

*1 point*